<div class="hero min-h-screen relative" style="background-image: url(<%= image_url('top.jpg') %>); background-size: cover; background-position: center; background-repeat: no-repeat; padding-bottom: 120px; margin-bottom: 40px;"> 
  <div class="hero-overlay bg-opacity-60 absolute inset-0"></div> 
  <div class="hero-content text-neutral-content relative" style="display: flex; justify-content: flex-start; align-items: center; width: 100%; padding-left: 2%;">
    <div class="max-w-md">
      <h1 class="mb-5 text-4xl font-bold" style="color: white;">Welcome to the Platform</h1>
      <p class="mb-5 text-4xl font-bold" style="color: white;">
        動画で伝える<br>
        的確な口頭指導<br>
      </p>
      <% unless logged_in? %>
        <%= button_to 'ログインページへ', login_path, method: :get, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <% unless logged_in? %>
    <div class="chat chat-end absolute bottom-0 right-0" style="margin-bottom: 4rem;">
      <div class="chat-bubble text-left text-sm font-bold" style="max-width: 280px;">
        ご質問・お試し利用をご希望の方は<br />
        ページ下　"お問い合わせ"　から！
      </div>
    </div>
  <% end %>
</div>
