<p><%= @user.name %>さん。</p>
<p>リクエストを受け付けました。以下のリンクをクリックして、パスワードをリセットしてください。</p>
<%= link_to 'パスワードをリセットする', edit_password_reset_url(@token, token: @token, host: ENV['MAIL_HOST'] || "localhost:3000") %>
<p>このリンクは15分間有効です。</p>
