<p><%= @user.name %>さん。</p>
<p>リクエストを受け付けました。以下のリンクをクリックして、パスワードをリセットしてください。</p>
<p><%= link_to 'パスワードをリセットする', edit_password_reset_url(@token, host: ENV['MAIL_HOST'] || "localhost:3000") %></p>
<p>このリンクは15分間有効です。</p>
