<div id="<%= dom_id user %>">
  <p>
    <strong>New:</strong>
    <%= user.new %>
  </p>

  <p>
    <strong>Edit:</strong>
    <%= user.edit %>
  </p>

  <p>
    <strong>Show:</strong>
    <%= user.show %>
  </p>

</div>
