<footer id="footer" class="bg-gray-800 text-white py-4">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center">
      <div>
        <p class="text-sm">&copy; Emergency C+ <%= Time.current.year %></p>
      </div>
    </div>
  </div>
</footer>
