<div class="sms-counter text-lg">
  <% if current_user.demo? %>
    <span class="text-gray-700">（本日 <span class="font-semibold"><%= current_user.todays_send_count %>/5</span> 回）</span>
  <% else %>
    <span class="text-gray-700">（本日 <span class="font-semibold"><%= current_user.todays_send_count %></span> 回）</span>
  <% end %>
</div>
