<div class="col-span-1 mb-3 max-h-480 min-h-240">
  <div id="post-id-<%= item.id %>" class="bg-white shadow-md rounded-md p-4 h-full">
    <div class="text-center h-full flex flex-col justify-between">
      <div class="relative" style="padding-bottom: 177.78%; height: 0; overflow: hidden;">
        <iframe
          class="absolute top-0 left-0 w-full h-full"
          src="https://www.youtube.com/embed/<%= get_youtube_shorts_id(item.item_url) %>"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
      <div class="mt-4">
        <div class="text-lg font-semibold">
          <%= link_to item.title, item_path(item), class: "block" %>
          <!-- 管理者共有アイテムの場合はバッジを表示 -->
          <% if item.user.admin? && item.user_id != current_user.id %>
            <span class="inline-block bg-gray-500 text-white text-xs px-4 py-0.5 rounded-full ml-1">共通アイテム</span>
          <% end %>
          <br>
        </div>
        <div class="flex justify-end">
          <%= render 'shared/sms_button', item: item %>
        </div>
      </div>
    </div>
  </div>
</div>
